*.HEIC
*.a
*.a
*.d
*.lib
*.o
*.obj
*.plist
*.so
*.wav
*.zip
.clangd
.direnv
assets.zip
assets_archive
benchmark
callgrind.out*
chordel
chordel.exe
docs
flamegraph.html
gecko_profile.json
nohup.out
perf.*
test_midi_write
vgcore.*
