*.sf2 filter=lfs diff=lfs merge=lfs -text
*.mid filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.mkv filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.jpg_original filter=lfs diff=lfs merge=lfs -text

# Do not track both of these so they can be included and played directly from
# the README on GitHub.
progress/chords_no_shocker.mp4 -filter -diff -merge text
progress/training-mode/chordel_training_with_ff_arrow.mov -filter -diff -merge text

